*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.bodymain {
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

body,
button,
a,
input,
label {
	font-family: "Montserrat", sans-serif;
}

.hidden {
	display: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}