.nav-sidebar {
	position: absolute;
	left: -500px;
	max-width: 400px;
    width: 100%;
	height: 100vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: left 0.5s;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.2em 0 0.5em 0;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	&__logo {
		font-size: 3rem;
	}

	&__btn {
		padding: 0 0.5em;
		font-size: 2rem;
		border: none;
		background: none;
		color: rgb(196, 27, 27);
		cursor: pointer;
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.5);
		}
	}

	&__list {
		padding-top: 1em;
		padding-left: 0.2em;
		font-size: 2.4rem;
		list-style-type: none;
	}

	&__item {
		padding: 0.25em 0;
		cursor: pointer;
		transition: color 0.5s;

		&:hover {
			color: royalblue;
		}
	}
}

.sidebar__btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	margin: 0.5em;
	font-size: 3rem;
	border: none;
	background: none;
	cursor: pointer;
	transition: transform 0.5s, color 0.5s;

	&:hover {
		transform: rotate(90deg);
		color: royalblue;
	}
}

.sidebar-active {
	left: 0;
}
